/*****************  common*****************/
html, body {width:1662px;}
.wrapper {max-width: 800px; margin: auto;}
.block {display: block; }
.letter{letter-spacing: 5px;}
.fnt {font-size: 15px; color: #757575;}
/******************************** header-wrapper *****************/

.header-wrapper { width:100%; color: black;background-color: #fff;; position: fixed; z-index: 99;  top: 0; left: 0;}
.header-wrapper .navi-wrap .logo {padding: 8px 16px;}
.header-wrapper .navi-wrap {background-color: #fff; padding: 8px 16px;}
.header-wrapper .navi-wrap .logo {padding: 8px 16px; letter-spacing: 4px; font-size: 15px;}
.header-wrapper .navi-wrap a {display:block;float: left;}
.header-wrapper .navi-wrap .navi-wp {float: right;}
.header-wrapper .navi-wrap .navi {padding: 8px 16px; letter-spacing: 4px; font-size: 15px;}

/********************** main-wrapper  *********************/

.main-wrapper .main-wrap .main{ width: 100%; position: relative; top: 0; left: 0; z-index: 98;}
.main-wrapper .main-wrap .main .le{ width: 100%; position: absolute; bottom: 10px; left: 10px; z-index: 98; font-size: 40px; padding: 12px 24px; letter-spacing: 4px; color: #607d8b; opacity: .7;}



/********************* about-wrapper  ******************/

.about-wrapper {width: 1100px; margin: auto; padding: 64px;}
.about-wrapper .about-wrap .table {float:left; width:48%; padding: 12px 24px;}
.about-wrapper .about-wrap .about {float: right; width: 48%; text-align: center; text-align: justify;}
.about-wrapper .about-wrap .about h2.title { letter-spacing:5px; text-align: center; margin: 10px 0;font-size: 36px;}
.about-wrapper .about-wrap .about h5.title { letter-spacing:5px; text-align: center; margin: 10px 0; font-size: 18px;}
.about-wrapper .about-wrap .about p { line-height: 1.5; font-size:18px;}
.about-wrapper .about-wrap .about p.color {color: #757575;}
.about-wrapper .about-wrap {margin-bottom: 26px;}
/******************** menu-wrapper *****************/
.menu-wrapper{width: 1100px;margin: auto;}
.menu-wrapper .menu-wrap {padding: 64px; margin: auto;}
.menu-wrapper .menu-wrap .menu { width: 49%; float: left;}
.menu-wrapper .menu-wrap .table2 { width: 49%; float: right;}
.menu-wrapper .menu-wrap .menu h1{ font-size: 36px; text-align: center; margin: 10px 0; letter-spacing: 4px;}
.menu-wrapper .menu-wrap .menu h3{font-size: 20px; }
.menu-wrapper .menu-wrap .menu .content {text-align: left;}
/* *******************.contact-wrapper.************ */
.contact-wrapper{width:1100px; margin: auto; padding: 64px 16px;}
.contact-wrapper .input-wrap { }
.contact-wrapper .contact-wrap p.content {color: #607d8b; font-size: 18px; font-weight: bolder;}
.contact-wrapper .contact-wrap h1.block{font-size: 36px; margin: 10px 0;}
.contact-wrapper .contact-wrap:nth-child(2) {font-size: 15px;}
.contact-wrapper .input-wrap input{width: 100%; margin: 15px 0; padding: 8px 16px; border: none; border-bottom: 1px solid #607d8b;}
.contact-wrapper .input-wrap .button {background-color: none; margin: 16px 0; padding: 8px 16px; border: none; cursor: pointer; overflow: hidden;}
.contact-wrapper .input-wrap .button:hover {background-color: darkgray;}

/* footer */
.footer-wrap{text-align: center; background-color: #f1f1f1; padding: 32px 0; font-size: 15px;}
.footer-wrap .footer:hover {color: #0ba030;}
.footer-wrap .footer{text-decoration: underline;}